
    body{
        background-color: rgb(10,35,99);
        color: ghostwhite;
        text-align: center;
        margin-top: 20%;
        font-family: sans-serif;
        font-size: 96px;
        font-weight: 400px;
    }
