
    body{
        font-size: 16px;
        font-family: sans-serif;
        background-color: whitesmoke;
        display: flex;
        margin: 0px;
        height: 100vh;      
        overflow: hidden;
    }
    #left{
        width: 27%;
        height:100vh;
        overflow-y: auto;
        background-color: ghostwhite;
        border: 1px solid #4ECDC4;
    }
    #profile{
        display: flex;
        padding-left: 20px;
        padding-top: 20px;
    }
    #picture{
        width: 35px;
        height: 35px;
        background-color: #0A2363;
        border: 1px solid #0A2363;
        border-radius: 10px;
        color: ghostwhite;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    #picture p{
        margin-top: 8px;
    }
    #user{
        margin-top: 0px;
        margin-left: 10px;
    }
    #user p{
        margin: 0px;
    }
    a{
        color: rgb(53, 49, 49);
        text-decoration: none;
    }
    .navtitle{
        margin-left: 20px;
        color: black;
        margin-bottom: 25px;
        margin-top: 40px;
        font-weight: bolder;
    }
    .dashcont{
        width: 210px;
        margin-left: 30px;
        padding-left: 20px;
        border: 1px solid #4ECDC4;
        border-left-width: 4px;
        border-radius: 15px;
        background-color: whitesmoke;
        color: rgb(53, 49, 49);
        margin-bottom: 30px;
        font-size: small;
        cursor: pointer;
    }
    .dashcontx{
        width: 180px;
        margin-left: 30px;
        padding-left: 24px;
        color: rgb(53, 49, 49);
        margin-bottom: 30px;
        font-size: small;
        cursor: pointer;
    }
    #right{
        width: 100%;
        height:100vh;
        overflow-y: auto;
        background-color: whitesmoke;
    }
    #header{
        background-color: #0A2363;
        width: 97%;
        color: ghostwhite;
        margin: 0px;
        padding: 15px;
        position: sticky;
        top: 0;
        z-index: 100;
    }
    #content{
        width: 90%;
        box-shadow: 0px -2px 5px 3px #4ECDC4;
        margin-top: 40px;
        margin-left: 20px;
        padding-left: 40px;
        border-radius: 15px;
        background-color: ghostwhite;
        padding-top: 10px;
    }
    #content h2{
        margin-bottom: 40px;
    }
    #topcont{
        display: flex;
        flex-wrap: wrap;
    }
    #topcont div{width: 47%;}
    label{
        font-size: 13px;
        font-weight: bold;
    }
    input{
        width: 90%;
        padding: 15px;
        border-radius: 15px;
        background-color: whitesmoke;
        border: 1px solid whitesmoke;
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 30px;
    }
    button{
        padding: 15px 20px;
        border-radius: 15px;
        border: 1px solid #4ECDC4;
        font-weight: bold;
        background-color: whitesmoke;
        margin-bottom: 40px;
        margin-top: 10px;
    }
    #btn{
        width: 95%;
        display: flex;
        flex-direction: row-reverse;
    }
    #btm{
        display: flex;
    }
    .btmcont{
        background-color: whitesmoke;
        border: 1px solid #4ECDC4;
        border-radius: 15px;
        width: 29%;
        padding-left: 20px;
        margin-right: 10px;
        margin-bottom: 80px;
        padding-bottom: 10px;
    }
    .sinfo{
        font-size: 17px;
        font-weight: bold;
    }
    .emoji{
        color: #4ECDC4;
        font-size: 20px;
        font-weight: bold;
    }
    .btmtxt{
        font-size: 13px;
    }
    .btn1{
        background-color: #4ECDC4;color: ghostwhite;
    }
    .btn2{
        margin-right: 10px;
    }
    hr{
        margin-right: 0px;border: 1px solid #4ECDC4;
    }
    .mid{
        margin-right: 40px;border: 1px solid #4ECDC4;
    }
    #confpass input{
        padding-right: 30px;
    }
    .curpass{
        margin-right: 20px;
    }
    .biohead{
        margin:20px 0px 40px 0px;
    }
    .error{
    color:red;
    font-size:13px;
    margin-top:-20px;
    display:block;
    }
    #usermail{
        font-size: small;
        padding-top: 4px;
    }